
<div class="container">
<h1 class="text-center">Github Searcher</h1>
<hr>
<hr>
<form ng-submit="submit(username)" class="formular">
    <div class="form-group" style=>
        <label>Search for a github user:</label>
        <input type="text" class="form-control" ng-model="username">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

</form>
<div ng-show="vm.submitted">
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" >
        <h3>User: {{user.name}}</h3>
        <img ng-src="{{user.avatar_url}}" style="width:20%">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h4>Order by:</h4>
        <select ng-model="order">
            <option value="name">Name</option>
            <option value="stargazers_count">Stars</option>
        </select>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Stars</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in repos | orderBy: order">
                    <td>{{x.name}}</td>
                    <td>{{x.stargazers_count}}</td>
                </tr>
            </tbody>
        </table>
   </div>
     
</div>
